
main {
display: flex;
flex-wrap: wrap;
margin: auto;
width: 355px;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-family: 'Montserrat';
  font-weight: 400px;
  font-size: 40px;
  color: #2E2F42; 
}

.label {
  font-family: 'Montserrat';
  font-weight: 400px;
  font-size: 16px;
  color: #2E2F42; 
}


.flatpickr-input {
box-sizing: border-box;
width: 272px;
height: 40px;
border: 1px solid #808080;
padding-left: 16px;
font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
}

button {
  width: 75px;
  height: 40px;
  gap: 10px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: #CFCFCF;  ;
  color: #989898;
}
  
